label.labelInputinput[type="file"] {
  position: fixed;
  top: -1000px;
}

.labelInput {
  border: 2px solid #AAA;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px;
  background: #DDD;
  display: inline-block;
}
.labelInput:hover {
  background: #CCC;
}
.labelInput:active {
  background: #CCF;
}
.labelInput :invalid + span {
  color: #A44;
}
.labelInput :valid + span {
  color: #4A4;
}